body {
    padding-top: 10px;
    padding-left: 10px;
    background-color: #f8f8fa;
}

p {
/*    font-size: 1em;*/
    text-align: justify;
}

p#title {
    font-size: 250%;
    font-weight: bold;
    text-align: center;
}

.chart-title {
    font-size: 125%;
    font-weight: bold;
    color: #0092c3;
    border-bottom-width: 3px;
    border-bottom-right-radius: 50%;
    margin-right: 20%;
    border-bottom-color: #0092c3;
    padding-top: 0px;
}

.chart-wrapper {
    padding: 5px;
    border-style: groove;
    border-width: 5px;
    margin-right: 10px;
    margin-bottom: 10px;
}

.navbar {
    visibility: hidden
}

img#logo-left {
    width: 100%;
    vertical-align:middle;
    padding-left:20px;
}

img#logo-right {
    width: 100%;
    vertical-align:middle;
    padding-right:40px;
    float:right;
}

h4 {
    font-size: 120%;
    font-weight: bold;
    color: #a74824;
}

table#rosmap {
    margin-left: 10px;
    float: right;
}

div#refs {
    font-size: 80%;
}

span#table1cap {
    color: #666666;
}
